# Ignore ns-3 build artifacts
ns-dev/build/
ns-dev/cmake-cache/
ns-dev/scratch/*.o
ns-dev/scratch/*~

# Logs and generated data
*.log
*.pcap
*.sqlite
*.tr
*.xml
*.txt
*.out
*.bak

# Simulation outputs
data/*.json

# Python cache
__pycache__/
*.pyc

# Editor/OS metadata
.DS_Store
.vscode/
*.swp
*.swo

# Shell history or temp
scripts/*.sh~

# Ignore zipped packages
*.zip
.vscode/
ns-dev/.lock-ns3_darwin_build